.provinceDetailsMain {
    display: flex;
}

.provinceInfo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
    max-height: 87vh;
}

.mainTitle {
    font-size: 2rem;
    margin: 2rem 0 0 1.5rem;
}

.secondaryTitle {
    margin: 1.5rem;
    font-weight: 300;
}

.provinceMap {
    min-width: 800px;
    /* min-width must be same as ReactMapGL inline style width */
    padding: 1rem;
}