/* For Desktop View */
.provinceDetailsMain {
    display: flex;
}

.provinceInfo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
    max-height: 84vh;
    padding: 1.5rem
}

.mainTitle {
    font-size: 2rem;
    margin: 2rem 0 0 0;
}

.secondaryTitle {
    margin: 1.5rem 0;
    font-weight: 300;
}

.provinceMap {
    min-width: 45%;
    /* min-width must be same as ReactMapGL inline style width */
    padding: 1rem 0;
}

::-webkit-scrollbar-button {
    height: 12px;
    }

::-webkit-scrollbar {
    width: 12px;
    height: 30px;
    overflow: scroll;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(90, 90, 90);
    height: 10px;
    border-radius: 20px;
  }

/* For small laptop */
@media screen and (min-width: 1024px) and (max-width: 1200px)  {
    
.provinceDetailsMain {
    display: flex;
}

.provinceInfo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
    /* max-height: 87vh; */
    padding: 1.5rem
}

.mainTitle {
    font-size: 2rem;
    margin: 2rem 0 0 0;
}

.secondaryTitle {
    margin: 1.5rem 0;
    font-weight: 300;
}

.provinceMap {
    min-width: 45%;
    /* min-width must be same as ReactMapGL inline style width */
    padding: 0.5rem 1.7rem 3rem 0
}

::-webkit-scrollbar-button {
    height: 12px;
    }

::-webkit-scrollbar {
    width: 12px;
    height: 30px;
    overflow: scroll;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(90, 90, 90);
    height: 10px;
    border-radius: 20px;
  }

}

  /* For mobile */
  @media screen and (max-width: 480px) {

.provinceDetailsMain {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.provinceInfo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
    padding: 1.5rem
}

.mainTitle {
    font-size: 2rem;
    margin: 2rem 0 0 0;
}

.secondaryTitle {
    margin: 1.5rem 0;
    font-weight: 300;
}

.provinceMap {
    min-width: 80%;
    min-height: 30vh;
    /* min-width must be same as ReactMapGL inline style width */
    padding-top: 2rem;
}
  }

  /*for tablets and landscape*/
  @media screen and (min-width:481px) and (max-width: 768px) {

    .provinceDetailsMain {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    
    .provinceMap {
        min-width: 80%;
        min-height: 30vh;
        /* min-width must be same as ReactMapGL inline style width */
        padding-top: 1rem;
        padding-bottom: 0.5rem
    }
  }

  @media screen and (min-width:769px) and (max-width: 1023px) {
    .provinceDetailsMain {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    
    .provinceMap {
        min-width: 80%;
        min-height: 30vh;
        /* min-width must be same as ReactMapGL inline style width */
        padding-top: 1rem;
        padding-bottom: 0.5rem
    }
  }
