.mapWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  height: 80vh;
  /* min-width: 60vw; */
  max-width: 60vw;
}

.mapCanvas {
  width: 100%;
  height: 100%
}

@media screen and (max-width: 480px) {
  .mapWrapper {
    height: 45vh;
    width: 90vw;
    /* max-height: 45vh; */
    /* meter width y height fijas a cada mediaquery */
  }
}

@media screen and (min-width:481px) and (max-width: 768px) {
  .mapWrapper {
    height: 40vh;
    width: 70vw;
  }
}

@media screen and (min-width:769px) and (max-width: 1023px) {
  .mapWrapper {
    height: 50vh;
    width: 55vw
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .mapWrapper {
  height: 70vh;
  padding-right: 1rem;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1340px) {
  .mapWrapper {
  
    padding-right: 1rem;
    }
}