.touristicItemWrapper {
    display: flex;
    align-items: center;
}

.touristicItem {
    cursor: pointer;
}

.touristicItem img {
    width: 500px;
    /* padding-left: 1.5rem; */
    /* border-radius: 30px; */
}

/* .touristicItemImg{
    border-radius: 30px;
} */

.touristicItemImg{
    overflow: hidden;
    border-radius: 30px;
}

.touristicItemImg img{
    border-radius: 30px;
}

.touristicItemTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.touristicItemName {
    padding: 1rem 0 1rem 0;
    font-size: 1.30rem;
}

.touristicItemName:hover {
    color: #ff143d;
}

.touristicItemDescription {
    padding: 1rem;
}