.commentWrapper {
    margin: 1rem 0 1rem 0;
}

.displayCommentsExpander {
    display: flex;
}

.displayCommentsExpander:hover {
    color: #ff143d
}

.commentTitle {
    font-size: 1.20rem;
    margin: 0 3rem 1rem 0;
    cursor: pointer;
}