.mapWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    height: 80vh;
    min-width: 60vw;
  }
  
  .mapCanvas {
    width: 100%;
    height: 100%
  }
  
  @media screen and (max-width: 480px) {
    .mapWrapper {
      height: 40vh;
      /* meter width y height fijas a cada mediaquery */
    }
  }
  
  @media screen and (min-width:481px) and (max-width: 768px) {
    .mapWrapper {
      height: 55vh
    }
  }
  
  @media screen and (min-width:769px) and (max-width: 1023px) {
    .mapWrapper {
      height: 50vh
    }
  }
  
  @media screen and (min-width: 1024px) and (max-width: 1200px) {
    .mapWrapper {
    
    }
  }