.loginMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    line-height: 2.5rem;
}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 1rem 2rem;
    border: 1px solid lightgray;
    box-sizing: border-box;
}

.loginInput{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 2rem;
}

.loginEmailInput {
    display: flex;
    padding: 1rem 2rem;
}

.loginPwInput {
    display: flex;
    padding: 1rem 2rem;
}