/* Flamengo orange: rgba(232, 95, 42, 0.7) */

.mapMarker {
    max-height: 20px;
    max-width: 20px;
}

.mapboxgl-popup-content {
    color: #F3F3DD;
    background-color: #91785D;
    border-color: #91785D;
    max-width: 250px;
    box-shadow: 3px 3px 2px #8B5D33;
    font-family: 'Oswald';
  }
