/* Flamengo orange: rgba(232, 95, 42, 0.7) */

.mapMarker {
    max-height: 20px;
    max-width: 20px;
}

.mapboxgl-popup-content {
    color: #000;
    background-color: #fdf5e6;
    max-width: 250px;
    box-shadow: 3px 3px 2px #dcdcdc;
    font-family: 'Montserrat';
    line-height: 1.5rem;
    text-align: center;
  }

  .mapboxgl-popup-content a {
    font-weight: 600;
  }
  
  .urbanTag {
    font-weight: 600;
    color: #505050;
  }

  .ruralTag {
    font-weight: 600;
    color: #008000;
  }

  .coastalTag {
    font-weight: 600;
    color: #1E90FF;
  }

  .mapMarker img{
    cursor: pointer;
  }