.footerMain {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffc107;
    
}

a {
    text-decoration: none;
    padding: 1rem;
    cursor: pointer;
    color: #000;
    font-weight: 300;
}

a:hover {
    color: #ff143d
}

.flexyFoot {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    a {
        font-size: 0.75rem;
        text-decoration: none;
        padding: 0.3rem;
        cursor: pointer;
        color: #000;
        font-weight: 600;
    }
}


@media screen and (min-width:481px) and (max-width: 1023px) {
    .footerMain {
    position:relative;
    }
}

