/* CSS RESET (Pending)*/

body {
    overflow-x: hidden;
}

.homeMain {
 display: flex;
 flex-direction: column;
}

.homeText {
    height: 75vh;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}

.homeTitleH1 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    max-width: 50%;
    font-size: 2.5rem;
    color: #ff143d
}

.provinceList {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--clr-primary);
}

.provinceList ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* .provinceList {
display: flex;
flex-direction: column;
align-self: flex-start;
justify-content: flex-start;
align-items: center;
}

.provinceList ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
} */