/* CSS RESET (Pending)*/

.homeMain {
 display: flex;
 flex-direction: column;
}

.homeTitle {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeTitleH1 {
    font-size: 2.5rem;
    color: #ff143d
}

.provinceList {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--clr-primary);
}

.provinceList ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* .provinceList {
display: flex;
flex-direction: column;
align-self: flex-start;
justify-content: flex-start;
align-items: center;
}

.provinceList ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
} */